{% extends 'movie/movie.html.twig' %}

{% block title %}{{ parent() }} - Edit{% endblock %}

{% block body %}

    <div class="well">

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form(form) }}

    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
